* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f8fafc;
  color: #333;
  line-height: 1.6;
}

/*header {
  background: #f2f6f7;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

header h1 {
  font-size: 1.5rem;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: 500;
}

nav a.active {
  text-decoration: underline;
}

.hero {
  background: #e7f1ff;
  padding: 2rem;
  text-align: center;
}

.stats, .summary, .school-list {
  padding: 2rem;
}

.stat-grid, .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

footer {
   background-image: linear-gradient(rgba(153, 26, 12), rgba(33, 13, 11)),   /*Denicivich Fade Color Effect*/
  background: #991a0c;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 4rem;
}

#searchBox {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
