/* style.css */
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
} */
/*.appcontainer {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin-top: 50px;
}
h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
} */
.appform-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], input[type="password"], input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}
button {
    width: 100%;
    padding: 10px;
    background-color: #992034;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
button:hover {
    background-color: #4d1d25;
}
#login-section {
    display: block;
}
#app-section {
    display: none; /* Hidden by default until login */
}
#chart-container {#4d1d25
    margin-top: 30px;
    height: 350px;
    width: 100%;
}
.apperror {
    color: red;
    margin-top: 10px;
    text-align: center;
}